$rojo: red;
$azul: #5472fd;
$celeste: #85b3e5;
$azulOscuro: #5a3acc;
$colorTarjetaPrincipal: #e7f3ff;
$colorTarjetas: #a7caef;
$colorTarjetasNoDisponibles: #84a2bf;
$colorBarraScrollFondo: #9282dd; 
$colorBarraScroll: white;
$colorBordeDifuminado: #a7caef;//rgba(133, 179, 229, 1);
$colorTexto: #27274b;

$fuentePrincipal: "Roboto", sans-serif;

$celular: 768px;
$escritorio: 769px;